@import 'tailwindcss';


@theme {
  --color-bg1: #1e1e1e;
  --color-bg2: #343434;
  --color-bg3: #404040;
  --color-emr: #9f66c6;
  --color-emr-dark:#8a44b9;
}

* {
  @apply box-border;
}

.todo-list-item {
  @apply bg-bg3 my-5 p-5 flex justify-between items-center shadow-2xl
}

.todo-item-title {
  @apply text-3xl font-bold text-emr capitalize
}

.todo-item-description {
  @apply text-white/50 mt-2
}

.todo-item-buttons {
  @apply flex text-4xl gap-5
}

.todo-item-button-bin {
  @apply cursor-pointer transition-all ease-in-out hover:text-red-500
}
.todo-item-button-check {
  @apply cursor-pointer transition-all ease-in-out hover:text-emr
}